@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500;700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: "Roboto:400", sans-serif;
    width: 100%;
}


/*-----------------------------------------------------------Nav */
.navbar {
    background-color: #188832;;
    opacity: 0.9;
    color: white;
    font-weight: bold;
}

.navbar a {
    color: white;
    font-weight: bold;
    font-size: 100%;
}
.navbar a:hover{
    color: #0a3f16;
}

.navbar-brand{
    font-size: 130% !important;
}

.navbar-nav a {
    margin-left: 1.2em;
}

.active a{
    color: #0a3f16;
}

.bg-dark{
    color: #0f5720 !important;
    background-color: #0f5720 !important;
}


/*-----------------------------------------------------------hero image landing page */
.hero-image {
    height: 80vh;

    background:linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("images/cleanearth.jpeg") no-repeat;
    background-position: center;
    overflow: hidden;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#cover-text {
    color: white;
    font-family: 'Alegreya SC', serif;
    font-style: oblique;
    font-weight: 500;
    height: 9.5em;
    width: 20.5em;
    letter-spacing: 0.2em;
    padding: 1.1em 1.1em;
    text-align: center;

    position: absolute;
    background-color: rgba(221, 76, 74, 0.658);
    bottom: 0.9em;
    right: 0.7em;
}


/*-----------------------------------------------------------Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-main{
    color: white;
    font-weight: 700;
    margin-bottom: 1.2em;
}

.Jumbotron-text{
    color: white;
}

/*-----------------------------------------------------------Importance */

.container-importance{
    margin: 1em 0em 2em 0em;
}


.firstsection-heading {
    margin-top: 1.6em;
    font-weight: bold;
    letter-spacing: 0.08em;
}

.container-importance i {
    font-size: 2.8em;
    color: #188832;
}

.media {
    margin: 3.5em 0em 2.5em 0em;
}

p {
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
    font-size: 1.2em;
}

.hr-green {
    border: 0.17em solid #188832;
    width: 13em;
    background-color: #188832;
}

.firstsection-icon{
    padding: 0em 1em 0em 1em;
    margin-top: 2em;
}

.importance-section-content {
    padding: 0em 1em 0em 1em;
}


/*-----------------------------------------------------------feedback */

.feedback-container {
   margin: 1em 0em 0em 0em;
}


.feedback-text {
    margin: 0em 0em 2.5em 0em;
    padding-left: 0.8em;
}

.margin-top-50{
    margin-top: 1.8em;
}


/*-----------------------------------------------------------FAQs */

.faqs-container{
    margin: 1.6em 0em 4em 0em;
}


.faqs-container a {
    background-color: #188832;
}


.card-heading{
    font-weight: bold;
}

.faqs{
    margin-top: 2.9em;
}


/*-----------------------------------------------------------Connect */
.connect-content{
    margin: 2em 0em 2em 0em;
}

.section-headings{
    margin-top: 2.1em;
    font-weight: bold;
    letter-spacing: 0.08em;
}


.socialmedia-icons a{
    font-size: 3.7em;
    word-spacing: 1.3em;
    text-decoration: none;
   
}

.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #b35151;
}

.fa-twitter{
    color: #00aced;
}
.fa-youtube{
    color: #bb0000;
}
.fa-google-plus-g{
    color: #dd4b39;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-google-plus-g:hover{
    color: #188832;
}

/*-----------------------------------------------------------Footer */

.footer-container{
    margin-top: 4em;
    text-align: center;
}

.footer-content{
    margin-top: 2em;
}


footer p{
    color: white;
    margin-top: 1em;
    font-size: 1.2em;
    text-align: center;
}

footer a {
    color: black;
}


.footer-icons{
    font-size: 1.5em;
    color: black;
}

.hr-green-footer {
    text-align: center;
    border: 0.2em solid #188832;
    background-color: #188832;
    width: 13em;
}

/*-----------------------------------------------------------Modal */

.modal-body {
    background: url("images/modal.jpeg") no-repeat;
    background-size: cover;
    color: white;
}

.modal-header {
    background-color:#188832 ;
    color: white;
}

.modal-btn-close {
   margin: 0 auto;
}

.modal-btn-submit {
    margin: 0 auto;
}


/*-----------------------------------------------------------From */

.form-text {
    color: white !important;
}

/*-----------------------------------------------------------hero image health page */

.hero-image-health {
    height: 80vh;
    background:linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("images/vegetarian.jpeg") no-repeat;
    background-position: center;
    overflow: hidden;

    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron-main-health-page{
    color: white;
    font-weight: 700;
    margin-bottom: 1.2em;
}

.Jumbotron-text-health-page{
    color: white;
}
#cover-text-health-page{
    color: white;
    font-family: 'Alegreya SC', serif;
    font-style: oblique;
    font-weight: 500;
    height: 9.5em;
    width: 20.5em;
    letter-spacing: 0.2em;
    padding: 1.1em 1.1em;
    text-align: center;

    position: absolute;
    background-color: rgba(221, 76, 74, 0.658);
    bottom: 0.9em;
    right: 0.7em;
}


.img-fluid {
    height: 20em;
    width: 30em;
}

.recipes {
    margin: 3em 0em;
}

.recipe-heading{
    margin-top: 0.7em;
    font-weight: bolder;
}

/*-----------------------------------------------------------Hero image meetup Page */

.hero-image-meetup {
    height: 80vh;
    
    background:linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url("images/meetup.jpeg") no-repeat;
    background-position: center;
    overflow: hidden;

    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.meetup-heading {
    margin: 4em 0 1.9em 0;
    color: #188832;
}

/*-----------------------------------------------------------Media quries */

@media (max-width:360px) {
    #cover-text {
    color: white;
    font-family: 'Alegreya SC', serif;
    font-style: oblique;
    font-weight: 300;
    height: 5em;
    width: 19em;
    padding: 0.2em 0.2em;
    text-align: center;
    overflow: hidden;

    position: absolute;
    background-color: rgba(221, 76, 74, 0.658);
    bottom: 0.9em;
    right: 0.4em;
    }

    .jumbotron-main{
    color: white;
    font-weight: 400;
    margin-top: 0em;
    }

    .Jumbotron-text{
    color: white;
    font-weight: 100;
    font-size: 1.5em;
    }

    .jumbotron-main-health-page{
    color: white;
    font-size: 2em;
    font-weight: 400;
    margin-top: 0em;
    }

    .Jumbotron-text-health-page{
    color: white;
    font-weight: 100;
    font-size: 1.3em;
    }


    #cover-text-health-page {
    color: white;
    font-family: 'Alegreya SC', serif;
    font-style: italic;
    font-weight: 300;
    height: 5em;
    width: 19em;
    padding: 0.2em 0.2em;
    text-align: center;
    overflow: hidden;

    position: absolute;
    background-color: rgba(221, 76, 74, 0.658);
    bottom: 0.9em;
    right: 0.4em;
    }

    .socialmedia-icons a{
    font-size: 2em;
    word-spacing: 0.7em;
    text-decoration: none;
    }

    .margin-top-50{
    margin-top: 1em;
    }

    .navbar-brand{
    font-size: 110% !important;
    }
    .image-recipe-section{
        height: 50px;
        width: 50px;
    }

   
}


@media (max-width:450px) {
    .socialmedia-icons a{
    font-size: 2.9em;
    word-spacing: 0.9em;
    text-decoration: none;
    }
}

@media (max-width:860px) {
    .margin-top-50{
    margin-top: 1em;
    }
    .navbar-nav a {
    margin-left: 0.9em;
    }
    .navbar-text{ 
        display: none;
    }
}

