@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: "Roboto:400", sans-serif;
}
/*-----------------------------------------------------------Nav */
.navbar {
    background-color: #188832;;
    opacity: 0.7;
}


/*-----------------------------------------------------------hero image */
.hero-image {
    height: 85vh;

    background: url(images/cleanearth.jpeg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#cover-text {
    color: white;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-weight: bold;
    height: 150px;
    width: 330px;
    letter-spacing: 3px;
    padding: 15px 23px;

    position: absolute;
    background-color: rgba(241, 109, 107, .5);
    bottom: 30px;
    right: 10px;
}


/*-----------------------------------------------------------Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-main{
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}


.impo-heading {
    margin-top: 20px;
}